APP_NAME="connect"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

MEDIA_DISK=media

SUPERADMIN_NAME="Suparman"
SUPERADMIN_EMAIL="superadmin@g8stack.com"
SUPERADMIN_PASSWORD=password

LOG_CHANNEL=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=connect
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=redis
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@{OWNER}.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

TELESCOPE_PATH=telescope
TELESCOPE_DRIVER=database
TELESCOPE_ENABLED=true
TELESCOPE_BATCH_WATCHER=false
TELESCOPE_CACHE_WATCHER=false
TELESCOPE_CLIENT_REQUEST_WATCHER=false
TELESCOPE_COMMAND_WATCHER=false
TELESCOPE_DUMP_WATCHER=false
TELESCOPE_DUMP_WATCHER_ALWAYS=false
TELESCOPE_EVENT_WATCHER=false
TELESCOPE_EXCEPTION_WATCHER=true
TELESCOPE_GATE_WATCHER=false
TELESCOPE_JOB_WATCHER=false
TELESCOPE_LOG_WATCHER=false
TELESCOPE_MAIL_WATCHER=false
TELESCOPE_MODEL_WATCHER=false
TELESCOPE_NOTIFICATION_WATCHER=false
TELESCOPE_QUERY_WATCHER=false
TELESCOPE_REDIS_WATCHER=false
TELESCOPE_REQUEST_WATCHER=false
TELESCOPE_RESPONSE_SIZE_LIMIT=64
TELESCOPE_SCHEDULE_WATCHER=false
TELESCOPE_VIEW_WATCHER=false

MINIO_KEY=
MINIO_SECRET=
MINIO_BUCKET=connect

# Docker Services
DB_ROOT_PASSWORD=root
MAILPIT_UI_PORT=8025
MEILI_MASTER_KEY=masterKey
MEILI_NO_ANALYTICS=true
MEILI_ENV=development
MEILI_DB_PATH=/data.ms
MEILI_PORT=7700
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
